* {
    box-sizing: border-box;
    margin: 0
}
.row:after {
    content: "";
    clear: both;
    display: block;
}

/* For mobile phones */

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets */
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

div.header {
    font-family: sans-serif;
    font-variant-caps: all-petite-caps;
    background-color: #2C3E50;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 50px 0px;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
    font-variant-caps: all-petite-caps;
}

p {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

div.brand > a {
    position: absolute;
    left: 15%;
    top: 33%;
    font-size: 2.0em;
    font-weight: 700;
    text-decoration: none;
    color: white
}

ul.header-nav {
    list-style: none;
    display: inline-block;
    position: absolute;
    right: 15%;
    font-size: 1.2em;
    top: 42%;
}

div.header-nav > ul > li {
    display: inline-block;
    margin: 0px 15px;
}

div.header-nav > ul > li > a {
    text-decoration: none;
    color: white;
}

div.header-nav > ul > li > a:hover {
    color: #18BC9C;
}

div.profile {
    text-align: center;
    background-color: #18BC9C;
    margin-top: 100px;
}

div.profile > img {
    display: block;
    margin: 0 auto 20px;
    padding-top: 110px;
}

div.profile > * {
    color: white;
}

div.profile > h1 {
    font-size: 5em;
    display: block;
}

hr.star-light {
    max-width: 200px;
    border: none;
    border-top: solid 5px;
    margin: 25px auto 30px;
    padding: .5em
}

div.profile > h3 {
    font-size: 1.3em;
    padding-bottom: 110px;
}

div.portfolio {
    text-align: center;
    color: #2C3E50;
    background-color: #FFF border: solid 0px 10px black;
}

div.portfolio > h1 {
    font-size: 3.3em;
    display: block;
    padding-top: 100px;
}

div.img {
    column-count: 3;
    column-gap: normal;
    padding: 0 0% 100px 0%;
    width: 80%;
    margin: auto;
}

div.portfolio .img>a>img {
    width: auto;
    height: auto;
}
div.about {
    background-color: #18BC9C;
    color: white;
    padding-bottom: 100px;
}

div.about > h1 {
    padding-top: 100px;
    text-align: center;
    font-size: 3.3em;
}

div.about-content {
    column-count: 2;
    padding-bottom: 30px;
    font-size: 1.1em;
    margin: 0 25%;
}

div.about > p > a {
    display: block;
    width: 180px;
    border: 2px solid white;
    border-radius: 6px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    transition: 0.3s;
    text-decoration: none;
    color: white;
}

div.about > p a:visited {
    text-decoration: none;
}

div.about > p a:hover {
    color: #18BC9C;
    background: #FFF
}

div.contact {
    color: #2C3E50;
}

div.contact > h1 {
    padding-top: 100px;
    font-size: 3.3em
}

div.contact > ul {
    list-style: none;
    width: 900px;
    margin: 0 auto;
    padding-bottom: 100px;
    position: relative;
}

div.contact > ul > li {
    color: #A0A0A0;
    border-top: 1px solid #DFDFDF;
}
input{
    border: none;
    padding: 15px 0;
    font-size: 1.2em;
    width: 900px;
}
div.contact a {
    color: #FFF;
    padding: 10px;
    background-color: #20BE9E;
    border-radius: 5px;
    font-size: 1.2em;
    text-decoration: none;
    margin: 0 10px ;
    position: absolute;
}

div.contact > ul > li > a:hover {
    background-color: #15B090;
}

footer {
    background-color: #2C3E50;
    color: #FFF
}

footer > h1 {
    padding: 50px 0px 40px;
}

div.address {
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 50px;
}

p.copyright {
    padding: 25px 0px;
    font-size: 0.9em;
    text-align: center;
    background-color: #233140;
}